html {

}

body {

}

main {
    width: 50%;
    background-color: #f1f1f1;
    margin: 0 auto;
}

header {
    width: 50%;
    text-align: center;
    background-color: rgb(230, 228, 228);
    margin: 0 auto;
}

.fieldsetGrid {
    border: 0;
}

form {
    width: 90%;
    padding: 5px;
    margin: 0 auto;
}

legend {
    background-color: white;
}

label {
    font-size: 90%;
}

#datos {
    background-color: rgb(229, 227, 227);
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#datos label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 30%;
    margin-bottom: 10px;
}

#datos input[type="text"] {
    width: 100%;
}
#datosBorde {
    border: #E5E3E3 3px solid;
}

#requisitos {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
}
#requisitos ul, ol {
    list-style-type: none;
}
#requisitosBorde {
    border: #ffffe0 3px solid;
}


#solicitud{
    background-color: rgb(20, 124, 159);
    
}
#solicitud div{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 5%;
}

#solicitud section {
    display: grid;
    gap: 3%;
}
#solicitudBorde {
    border: rgb(20, 124, 159) 3px solid;
}

#documentos {
    background-color: rgb(244, 122, 142);
    display: flex;
    flex-direction: column;
}
#documentacionBorde {
    border: rgb(244, 122, 142) 3px solid;
}

#comunicacion {
    background-color: rgb(248, 197, 70);
}
#comunicacionBorde {
    border: rgb(248, 197, 70) 3px solid;
}

footer {
    text-align: center;
}

footer h4 {
    font-size: 100%;
}

footer p {
    font-size: 80%;
    border: 4px blue dotted;
    font-weight: bolder;
}
#submit {
    width: 15%;
    font-size: 105%;
    padding: 0.3%;
    margin: 0 auto;
    display: block;
}

.cuadrofirma {
    display: flex;
    align-items: center;
    gap: 100%;
}

#firma {
    /* Alinea el textarea a la derecha, es lo unico que no he conseguido hacer */
    align-self: flex-end;
}
